<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.chronoscoper.android.broadcastdictionary">

    <application
        android:name=".DictionaryApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service android:name=".DictionaryService">
            <intent-filter>
                <action android:name="com.chronoscoper.android.DICTIONARY"/>
            </intent-filter>
        </service>
    </application>
</manifest>
